@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-snap-none {
    scroll-snap-type: none;
  }
  .scroll-snap-x {
    scroll-snap-type: x;
  }

  .scroll-snap-y {
    scroll-snap-type: y mandatory;
  }

  .scroll-align-start {
    scroll-snap-align: start;
  }
}

@layer components {
  .nav-item {
    @apply hover:text-lightBrown transition-colors lg:pr-5;
  }

  .panel {
    @apply bg-black rounded-md bg-opacity-50 p-5 mx-auto;
  }

  .news-item {
    @apply text-xl;
  }

  .news-item:nth-child(odd) {
    @apply bg-medBrown bg-opacity-25;
  }

  .btn {
    @apply mx-auto p-2 rounded-md border-2 border-opacity-0 transform transition-all hover:scale-110 hover:border-opacity-100;
  }

  .divider {
    @apply divide-white divide-opacity-30;
  }

  .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .bg-image,
  .bg-overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
  }

  .bg-overlay {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .names-row {
    grid-auto-rows: 1fr;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  button {
    @apply bg-medBrown border-lightBrown;
  }
}
